<%- model_class = Trip -%>
<div class="page-header">
  <h1>Cart Recommendations for Your Trip</h1>
</div>

<div class="row">
  <div class="span6">
     <%= image_tag(Trip.image[@trip.city_of_origin]) %>
  </div>
  <div class="span6">
    <h4>Trip details:</h4>
    <dl class="dl-horizontal">
      <dt><strong>Pioneers: </strong></dt>
      <dd><%= @trip.children %> kiddos and <%= @trip.adults %> adults</dd>
      <dt><strong>Initial post:</strong></dt>
      <dd><%= @trip.city_of_origin %></dd>
      <dt><strong><%= model_class.human_attribute_name(:pace) %>:</strong></dt>
      <dd><%= @trip.pace %></dd>
      <dt><strong>Starting in:</strong></dt>
      <dd><%= @trip.month_of_departure %></dd>
    </dl>
    <%= link_to "Edit Trip Details",
                edit_trip_path(@trip), :class => 'btn' %>
  </div>
</div>

<div class="row">
<div class="span12">
  <h4>Basics:</h4>
  <ul class="thumbnails">
    <% @basics.each_pair do |product, quantity| %>
      <%= render :partial => 'suggested_product', :locals => { :p => product, :q => quantity } %>
    <% end %>
  </ul>
</div></div>

<div class="row">
<div class="span12">
  <h4>Foodstuffs:</h4>
  <ul class="thumbnails">
    <% @foods.each_pair do |product, quantity| %>
      <%= render :partial => 'suggested_product', :locals => { :p => product, :q => quantity } %>
    <% end %>
  </ul>
</div>
</div>

<div class="row">
<div class="span12">
  <h4>Tools:</h4>
  <ul class="thumbnails">
    <% @tools.each_pair do |product, quantity| %>
      <%= render :partial => 'suggested_product', :locals => { :p => product, :q => quantity } %>
    <% end %>
  </ul>
</div>
</div>
