<div class="row-fluid">

  <div class="span3">
    <div class="cat_col">
      <h2 id="ribbon">Products</h2>
      <ul class="nav nav-tabs nav-stacked">
      <% @categories.each do |category| %>
        <li><%= link_to "#{category.name} (#{category.products.count} items)", category_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="choice_area">


    </div>

    <div class="breaker"></div>


      <ul class="thumbnails">
        <% 3.times do %>
          <% p = @products.pop %>
          <li class="span4">
            <div class="thumbnail adtl_col">
              <img src="#" alt="">
              <h3><%= link_to p.name, product_path(p) %></h3>
              <%= button_to 'Add to Cart', line_items_path(:product_id => p) %>
              <p><i>$<%= p.price %>.00</i></p>
              <p><%= p.description %></p>
            </div>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

  <% @products.each do |product| %>
    <div class="big_product">
     <%= render :partial => 'products/big_product', :locals => { :product => product } %>
    </div>
  <% end %>

</div>



