<div class="row">

  <div class="span3">
    <div class="main_col with_ribbon">
      <h2 class="ribbon"><%= image_tag("stores.png") %></h2>
      <ul class="nav nav-tabs nav-stacked">
      <% @stores.each do |store| %>
        <li><%= link_to store.name, home_path(store) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">

    <div>
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= link_to image_tag("slider-01.png"), "/random-url-3" %></div>
          <div class="item"><%= link_to image_tag("slider-02.png"), "/random-url-6" %></div>
          <div class="item"><%= link_to image_tag("slider-03.png"),  "/random-url-7" %></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <ul class="thumbnails">
      <% @products.each do |product| %>
        <li class="span3" id="<%= product.id %>">
          <div class="thumbnail adtl_col" id="<%= product.id %>">
            <p><%= image_tag "https://s3.amazonaws.com/epicsale/#{product.image_name}.jpg", :class => "small_product" %></p>
            <p><strong><%= product.store.name %></strong></p>
            <%= link_to 'Visit Store', home_path(product.store), :class => "btn btn-success", :id => "prod_#{product.id}" %>
          </div>
        </li>
      <% end %>
    </ul>

  </div>
</div>
