<div class="row">

  <div class="span3">
    <div class="main_col with_ribbon">
      <h2 class="ribbon"><%= image_tag("categories.png") %></h2>
      <ul class="nav nav-tabs nav-stacked">
      <% @categories.each do |category| %>
        <li><%= link_to "#{category.name} (#{category.products.active.count} items)", category_path(category.id) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">

    <div>
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= link_to image_tag("slider-01.png"), new_trip_path %></div>
          <div class="item"><%= image_tag("slider-02.png") %></div>
          <div class="item"><%= image_tag("slider-03.png") %></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <ul class="thumbnails">
      <% @products.each do |product| %>
        <%= render :partial => 'products/sm_product', :locals => { :p => product} %>
      <% end %>
    </ul>

  </div>
</div>

<% @products.each do |product| %>
  <div class="big_product" id="big_product_<%= product.id %>" >
   <%= render :partial => 'products/big_product', :locals => { :product => product } %>
  </div>
<% end %>

