<div class="row">
  <div class="span3">
    <div class="main_col with_ribbon">
      <h2 class="ribbon"><%= image_tag("stores.png") %></h2>
      <ul class="nav nav-tabs nav-stacked">
      <% @stores.each do |store| %>
        <li><%= link_to store.name, home_path(store) %></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">

    <div>
      <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag("slider-01.png") %></div>
          <div class="item"><%= image_tag("slider-02.png") %></div>
          <div class="item"><%= image_tag("slider-03.png") %></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <ul class="thumbnails">
      <% @products.each do |product| %>
        <li class="span3" id="<%= p.id %>">
        <div class="thumbnail adtl_col" id="<%= p.id %>">
          <p><%= image_tag "https://s3.amazonaws.com/epicsale/#{p.image_name}.jpg", :class => "small_product" %></p>
          <p><strong><%= p.name %></strong><i> - <%= amount_in_dollars(p.price) %></i></p>
          <%= link_to 'Visit the shop', home_path(p.store), :class => "btn btn-success" %>
        </div>
        </li>
      <% end %>
    </ul>

  </div>
</div>
