<div class="well well-large">
<p id="notice"><%= notice %></p>


<h5>Full Name: <%= @order.user.full_name %></h5>
<h5>User Email: <%= @order.user.email %></h5>
<h5>User Id: <%= @order.user_id %></h5>
<h5>Order Status: <%= @order.status.capitalize %></h5>
<h5>Order Date / Time: <%= @order.created_at %><br/></h5>
<br/>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Product Id</th>
    <th>Subtotal</th>
  </tr>
  <% @order.line_items.each do |line_item| %>
    <tr>
      <td>
        <% name = Product.find_by_id(line_item.product_id).name %>
        <%= link_to name, product_path(line_item.product_id) %>
        </td>
      <td><%= amount_in_dollars(line_item.price) %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.product_id %></td>
      <td>
        <%= amount_in_dollars(line_item.quantity * (line_item.price || 0)) %>
      </td>
    </tr>
  <% end %>
</table> 

<h3>Total: <%= amount_in_dollars(@order.total_cost) %></h3><br/>









<% if can? :manage, Order %>
<h4>Change Order Status To:</h4>
<%= link_to 'Pending | ', change_status_on_order_path(:id => @order.id, :status => 'pending'), :method => "put" if (@order.status != "pending") %>
<%= link_to 'Cancelled | ', change_status_on_order_path(:id => @order.id, :status => 'cancelled'), :method => "put" if @order.status != "cancelled" %>
<%= link_to 'Paid | ', change_status_on_order_path(:id => @order.id, :status => 'paid'), :method => "put" if @order.status != "paid" %>
<%= link_to 'Shipped | ', change_status_on_order_path(:id => @order.id, :status => 'shipped'), :method => "put" if @order.status != "shipped" %>
<%= link_to 'Returned | ', change_status_on_order_path(:id => @order.id, :status => 'returned'), :method => "put" if @order.status != "returned" %>
<%= link_to 'Edit Order | ', edit_order_path(@order) %>
<%= link_to 'Go Back', admin_path %>
<% end %>
</div>
