<div class="row">

  <div class="span3">
    <div class="cat_col">
      <h2 class="ribbon"><%= image_tag("categories.png") %></h2>
      <ul class="nav nav-tabs nav-stacked">
      <% @categories.each do |category| %>
        <% if category.id == @category.id %>
          <li class="active marked"><%= link_to "#{category.name} (#{category.products.count} items)", category_path(category.id) %></li>
          <% else %>
          <li><%= link_to "#{category.name} (#{category.products.count} items)", category_path(category.id) %></li>
          <% end %>
      <% end %>
      </ul>
    </div>
  </div>


  <div class="span9">
    <ul class="thumbnails">
      <% @category.products.each do |product| %>
        <%= render :partial => 'products/sm_product', :locals => { :p => product} %>
      <% end %>
    </ul>

    <% if can? :manage, Category %>
      <div class="form-actions">
        <%= link_to t('.back', :default => t("helpers.links.back")),
                    categories_path, :class => 'btn'  %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_category_path(@category), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    category_path(@category),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>