
<%= form_for @product, :html => {class: 'form-horizontal', multipart: true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :categories, :class => 'control-label' %>
    <div class="controls">

      <% for category in Category.find(:all) %>
      <div>
        <%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
        <%= category.name %>
      </div>
      <% end %>

    </div>
  </div>

  <div class="control-group">
    <%= f.label :image, "Attach an Image", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                products_path, :class => 'btn' %>
  </div>

  

<% end %>
