<li class="span3" id="<%= p.id %>">
  <div class="thumbnail adtl_col" id="<%= p.id %>">
    <h4 id="<%= p.id %>" class="product_name">
      <%= p.name %>
    </h4>
    <% if p.image.exists? %>
      <span id="<%= p.id %>", class="small_product">
        <%= image_tag p.image.url(:large), :class => "small_product" %>
      </span>
    <% end %>
    <span id="<%= p.id %>" class="small_product">
      <i><%= amount_in_dollars(p.price) %></i>
    </span>
    <%= button_to 'Add to Cart', line_items_path(:product_id => p), :class => "btn btn-success", :id => "prod_#{p.id}" %>
  </div>
</li>



