<div class="row">
  <div class="span3">
    <!-- consider: data-spy="affix" data-offset-top="200" -->
    <div class="main_col">
      <h2>Dashboard</h2>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#invoices">Invoices</a></li>
        <li><a href="#products">Products Management</a></li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div id="invoices">
      <h3>Invoices:</h3>

      <ul class="nav nav-tabs" id="invoicesTab">
        <li><a href="#pending" data-toggle="tab">Pending</a></li>
        <li><a href="#cancelled" data-toggle="tab">Cancelled</a></li>
        <li><a href="#paid" data-toggle="tab">Paid</a></li>
        <li><a href="#shipped" data-toggle="tab">Shipped</a></li>
        <li><a href="#returned" data-toggle="tab">Returned</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="pending"></div>
        <div class="tab-pane" id="cancelled"></div>
        <div class="tab-pane" id="paid"></div>
        <div class="tab-pane" id="shipped"></div>
        <div class="tab-pane" id="returned"></div>
      </div>
    </div>

    <div id="products">
      <h3>Product Management:</h3>
        <!-- Tabs by category -->
        <ul class="nav nav-tabs" id="productsTab">
          <% @categories.each do |category| %>
            <li>
              <a href="#<%= category.name %>" data-toggle="tab">
                <%= category.name %>
              </a>
            </li>
          <% end %>
            <li>
              <a href="#retired" data-toggle="tab">
                Retired
              </a>
            </li>
        </ul>

        <!-- Table bodies by category -->
        <div class="tab-content">
          <% @categories.each do |category| %>
            <div class="tab-pane" id="<%= category.name %>">
              <%= render :partial => 'product_table', :locals => 
                { :products => category.products.where(retired: false) } %>
            </div>
          <% end %>
          <!-- Retired Products category -->
            <div class="tab-pane" id="retired">
              <%= render :partial => "product_table", :locals => 
                { :products => @retired_products } %>
            </div>
        </div>

        <%= link_to t('.new', :default => t("helpers.links.new")),
                new_product_path,
                :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#productsTab a:first').tab('show');
    $('#invoicesTab a:first').tab('show');
  })
</script>
