<div class="well well-small"><strong><%= @store.name%></strong> - All Products</div>
<div class="row">
  <%= render "shared/left_nav" %>

  <div class="span9">
    <ul class="thumbnails">
      <% @products.each do |product| %>
        <%= render :partial => 'products/sm_product', :locals => { :p => product} %>
      <% end %>
    </ul>

  </div>
</div>

<% @products.each do |product| %>
  <div class="big_product" id="big_product_<%= product.id %>" >
   <%= render :partial => 'products/big_product', :locals => { :product => product } %>
  </div>
<% end %>
