<div class="row">
  <div class="span3">
    <!-- consider: data-spy="affix" data-offset-top="200" -->
    <div class="main_col">
      <h2>Dashboard</h2>
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#orders">Orders</a></li>
        <li><a href="#products">Products Management</a></li>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div id="orders">
      <h3>Orders:</h3>
      <!-- Tabs by status -->
      <ul class="nav nav-tabs" id="ordersTab">
        <% @statuses.each do |status| %>
        <li><a href="#<%= status %>" data-toggle="tab"><%= status.humanize %></a></li>
        <% end %>
      </ul>

      <!-- Table bodies by status -->
      <div class="tab-content">
        <% @statuses.each do |status| %>
          <div class="tab-pane" id="<%= status %>">
            <%= render :partial => 'orders/order_table', :locals => 
                  { :orders => Order.find_all_by_status(status) } %>
            <!-- This probably needs to be hidden in the controller. -->
          </div>
        <% end %>
      </div>
    </div>

    <div id="products">
      <h3>Product Management:</h3>
        <!-- Tabs by category -->
        <ul class="nav nav-tabs" id="productsTab">
          <% @categories.each do |category| %>
            <li>
              <a href="#<%= category.name %>" data-toggle="tab">
                <%= category.name %>
              </a>
            </li>
          <% end %>
            <li>
              <a href="#retired" data-toggle="tab">
                Retired
              </a>
            </li>
        </ul>

        <!-- Table bodies by category -->
        <div class="tab-content">
          <% @categories.each do |category| %>
            <div class="tab-pane" id="<%= category.name %>">
              <%= render :partial => 'product_table', :locals => 
                { :products => category.products.where(retired: false) } %>
            </div>
          <% end %>
          <!-- Retired Products category -->
            <div class="tab-pane" id="retired">
              <%= render :partial => "product_table", :locals => 
                { :products => @retired_products } %>
            </div>
        </div>

        <%= link_to t('.new', :default => t("helpers.links.new")),
                new_product_path,
                :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#productsTab a:first').tab('show');
    $('#ordersTab a:first').tab('show');
  })
</script>
